@import "normalize.scss";
@import "settings.scss";
@import "foundation.scss";

// FONT CHOICES ----------------------------------------------------------------------
@import url(https://fonts.googleapis.com/css?family=Alfa+Slab+One|Martel:400,200,300,600,700,800,900|Martel+Sans:400,200,300,600,700,800,900|Fredericka+the+Great|Londrina+Outline|Londrina+Solid);

// SERIF BOLD
// font-family: 'Alfa Slab One', cursive

// ELEGANT SERIF
// font-family: 'Martel', serif

// SANS SERIF
// font-family: 'Martel Sans', sans-serif

// FUN
// font-family: 'Fredericka the Great', cursive
// font-family: 'Londrina Outline', cursive
// font-family: 'Londrina Solid', cursive
// -----------------------------------------------------------------------------------

$text-color: #ffffff;
$link-color: #069ccd;
$shadow-color: #aaa9a9;
$background-color: #0053aa;

@mixin header-style {
  font-family: 'Martel', serif;
  font-weight: 900;
  color: $text-color;
}

@mixin body-style {
  font-family: 'Martel Sans', sans-serif;
  font-weight: 300;
  color: $text-color;
  font-size: 120%;
}

body {
  background: image-url("../images/bg5-faded.jpg") no-repeat center bottom fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4 {
  @include header-style;
}

p {
  @include body-style;
}

a {
  color: transparentize($primary-color, .15);
  font-weight: 500;
}

.bio{
  @media #{$small-up} { margin-top: 4vw; }
  @media #{$large-up} { margin-top: 7em; }
  text-align: justify;
  // text-shadow: 1px 1px 2px $shadow-color;

  h1 {
    @media #{$small-up} { font-size: 9vw; }
    @media #{$medium-only} { font-size: 7vw; }
    @media #{$large-up} { font-size: 3em; }
  }

  p {
    padding-left: 1px;
  }
}

.img-circle {
  border-radius: 50%;
  border: 10px white solid;
}
