@import "normalize.scss";
@import "settings.scss";
@import "foundation.scss";
@import "font-awesome-sprockets";
@import "font-awesome";

@import url(https://fonts.googleapis.com/css?family=Martel:400,200,300,600,700,800,900|Martel+Sans:400,200,300,600,700,800,900);

$text-color: $white;
$shadow-color: $base;

@mixin header-style {
  font-family: 'Martel', serif;
  font-weight: 900;
  color: $text-color;
}

@mixin body-style {
  font-family: 'Martel Sans', sans-serif;
  font-weight: 300;
  color: $text-color;
  font-size: 120%;
}

body {
  background: image-url("../images/bg5-faded.jpg") no-repeat center bottom fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  @include header-style;
}

p {
  @include body-style;
}

a {
  font-weight: 500;
}

.bio{
  @media #{$small-up} { margin-top: 4vw; }
  @media #{$large-up} { margin-top: 6em; }
  @media #{$small-up} { margin-bottom: 3vw; }
  @media #{$large-up} { margin-bottom: 2em; }
  text-align: justify;

  h1 {
    @media #{$small-up} { font-size: 9vw; }
    @media #{$medium-only} { font-size: 7vw; }
    @media #{$large-up} { font-size: 3em; }
  }

  p {
    padding-left: 1px;
  }
}

.img-circle {
  @media #{$small-only} { border: 6px $text-color solid; }
  @media #{$medium-up} { border: 8px $text-color solid; }
  border-radius: 50%;
}
