@import "normalize.scss";
@import "settings.scss";
@import "foundation.scss";

body {
  background: #297efa url("../images/Old-School-Serious.png");
  text-align: center;
  font-family: sans-serif; }
