%ul.small-block-grid-3
  %li
    = link_to "https://github.com/philliplongman", target: "_blank" do
      %i.fa.fa-github-square.fa-4x.fa-inverse
  %li
    = link_to "https://www.linkedin.com/in/phillipandrewlongman", target: "_blank" do
      %i.fa.fa-linkedin-square.fa-4x.fa-inverse
  %li
    = link_to "https://twitter.com/philliplongman", target: "_blank" do
      %i.fa.fa-twitter-square.fa-4x.fa-inverse
