.bio.row
  .small-12.medium-4.columns
    = link_to "http://www.linkedin.com/in/philliplongman", target: "_blank" do
      = image_tag "/images/headshot.jpg", class: "img-circle"
  .small-12.medium-8.columns
    %h1 Phillip Longman
    = partial "bio"
