---
title: Phillip Andrew Longman
---

.row.bio
  .small-6.small-centered.medium-4.column.medium-uncentered
    = image_tag("/images/headshot.jpg", class: "img-circle")
  .small-12.medium-8.column
    %h1.small-only-text-center Phillip Andrew Longman
    = partial "bio"
